.navbar{
  background: #8eaec2;
  color: white;
  text-align: center;
  height: 2.5rem;
}

.top5faction{
  margin-left: 20px;
  margin-right: 20px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;

}

.content{
  text-align: center;
}

.wrapper{
  border: 1px solid lightgray;
  width: 1000px;
  margin: auto;
}

.content-wrapper{

}

a{
  text-overflow: ellipsis;
}

.inline-wrapper{
  display: inline-block;
  width: 100%;
}

#root{
  min-height: 100vh;
}

#app-wrapper{
  min-height: 100vh;
  position: relative;
}

#content-wrapper{
  padding-bottom: 2.5rem;
  width: 978px;
  margin: auto;
  border: 1px solid lightgray;
}

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background: #8eaec2;
  text-align: center;
}



a{
  color: black;
}



button{
  margin: 5px;
}
